.col-lg-4 img{
    width:350px;
    height:250px;
    margin:25px 50px 75px 10px;
    opacity:0.7;
    transform:scale(1.15);
    
  
}
.col-lg-4 img:hover{
    color:#fff;
    opacity:1;
    transform:scale(1.03);
}
h1{
    text-align:center;
    text-decoration:underline;
}

.btn{
    margin:5% 50% 5% 50%; 
    
}

.custom-control{
    margin:3% 3% 
}